<form action="answer", method="GET">
  <label for="question">Ask a question to your coach</label>
  <input type="text" name="question" class="input-text">
  <input type="submit" value="Ask" class="button">
</form>