// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//common
.button {
  background-color: blue;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

// ask
label {
  display:block;
}

input {
  font-size: 16px;
  padding: 8px 2px;
}

.input-text {
  width: 300px;
}

// answer
div {
  border-left: 5px solid lightgray;
  padding: 5px;
  width: 450px;
  margin-bottom: 20px;
}

p {
  margin: 5px;
  font-size: 24px;
}

.answer {
  background-color: lightyellow;
  margin-bottom: 25px;
}

a {
  &:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
  }
}